.custom-bg3 {
    background: linear-gradient(
        50deg,
        #879a79 0%,
        #6b7f61 25%,
        #4e5847 50%,
        #3b4d3a 75%,
        #1E1E1E 100%
    );
    color: #F2F2F7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.custom-bg4 {
    background: #4e5847;
    color: #F2F2F7;
}
